.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 45;
  display: none;
  transition: all 0.5s ease;
}
.modal {
  max-width: 28.646vw;
  background-color: #f7fafc;
  border-radius: 35px;
  padding: 45px;
  text-align: center;

  // .modal__close

  &__close {
    width: 20px;
    height: 20px;
    margin-left: auto;
    background-color: transparent;
    border: none;
    display: block;
    cursor: pointer;
  }

  // .modal__header

  &__header {
    padding: 5px 22px 28px 22px;
  }

  // .modal__title

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin: 0 0 14px 0;
    color: $black;
  }

  // .modal__description

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #000000;
  }

  // .modal__time

  &__time {
    font-size: 12px;
    line-height: 15px;

    text-align: center;

    color: #000000;

    opacity: 0.75;
    margin-top: 24px;
  }

  // .modal__form

  &__form {
  }

  // .modal__label

  &__label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #000000;

    opacity: 0.75;
    padding-bottom: 12px;
    display: block;
  }

  // .modal__input

  &__input {
    max-width: 30.01vw;
    width: 100%;
    height: 85px;
    background: $white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 500px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;

    color: $black;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #a7a7a7;
    }
  }

  // .modal__btn

  &__btn {
    background: $orage;
    box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
    border-radius: 500px;
    max-width: 30.01vw;
    width: 100%;
    height: 85px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: none;
    letter-spacing: 0.02em;
    text-align: center;
    color: $white;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $orage_hover;
    }
  }

  // .modal__arrow

  &__arrow {
    padding-left: 18px;
  }

  // .modal__footer

  &__footer {
    padding-top: 19px;
    font-style: normal;
    text-align: left;
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: $black;
  }
  &__checkbox {
    width: 18px;
    height: 18px;
    display: block;
    margin-right: 19px;
  }

  // .modal__link

  &__link {
    color: $orage;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  top: 30px;
  opacity: 0;
  z-index: 50;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 12px;
  width: 18px;
  height: 18px;
  background: #f38120;
  border-radius: 4px;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 16px;
  width: 7px;
  height: 3px;
  border-radius: 1px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.modal__form p {
  display: none;
  color: red;
}
.modal__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
